<div class="container">

    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <h2><%= t('header.stores') %></h2>
                <ul class="list-group">
                    <% @store.each do |store| %>
                        <li class="list-group-item">
                            <%= link_to store.name, store%>
                            <span class="pull-right">
                             <%= link_to t('header.stores'), approve_path(store)%>
                            </span>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    
</div>