<div class="container">

    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <h2>Usuarios</h2>
                <ul class="list-group">
                    <% @users.each do |user| %>
                        <li class="list-group-item">
                            <%= user.email%> | 
                            <%= link_to "Eliminar", user, method: :delete,
                                      data: { confirm: "¿Seguro?" } %>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    
</div>