<div class="container">

    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <h2><%= t('header.users') %></h2>
                <ul class="list-group">
                    <% @users.each do |user| %>
                        <li class="list-group-item">
                            <%= user.email%> | 
                            <%= link_to t('forms.buttons.delete'), user, method: :delete,
                                      data: { confirm: <%= t('forms.messages.confirm') %> } %>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    
</div>