<div class="container">

    <div class="row">

        <div class="col-md-12">
            <p class="lead">New review</p>
            <%= render 'form' %>

            <%= link_to 'Back', store_path(@store) %>
        </div>

    </div>
</div>
