<div class="container">

    <div class="row">

        <div class="col-md-12">
            <p class="lead"><%=t('reviews.new')%></p>
            <%= render 'form' %>

            <%= link_to t('reviews.back'), store_path(@store) %>
        </div>

    </div>
</div>
